kube_prometheus_stack_grafana_admin_username = "admin"
kube_prometheus_stack_grafana_admin_password = "prom-operator"
kube_prometheus_stack_prometheus_ingress_username = "admin"
kube_prometheus_stack_prometheus_ingress_password = "admin"
# To generate bcrypt hash, use e.g.
#   htpasswd -nbB admin adminPass
# and input the content after colon character
# When changing password, remember to also change the hash
kube_prometheus_stack_prometheus_ingress_password_bcrypt_hash = "$2y$05$ylnhlfrOeh7GNLQ0OTtBjOJZ5HcgxSuQPWZvKImPhzeeC.NaAp2I."
kube_prometheus_stack_alertmanager_ingress_username = "admin"
kube_prometheus_stack_alertmanager_ingress_password = "admin"
kube_prometheus_stack_alertmanager_ingress_password_bcrypt_hash = "$2y$05$ylnhlfrOeh7GNLQ0OTtBjOJZ5HcgxSuQPWZvKImPhzeeC.NaAp2I."
