victoria_metrics_alertmanager_pagerduty_token = "example_token"
victoria_metrics_alertmanager_deadmanssnitch_url = "https://nosnch.in/some_id"
# longhorn is just our internal alias, the real username may be different
minio_longhorn_backup_username = "longhorn"
minio_longhorn_backup_password = "password"
minio_longhorn_backup_endpoint = "http://some-external-minio"
# This is the same value as set in Vault ingress
domain = "your-domain-exposed-via-ingress"
# generate e.g. with `dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_' ; echo`
oauth2_proxy_cookie_secret = "someSecret"
users = {
  dezeroku = {
    email = "dezeroku@gmail.com"
    password = "example-password"
    groups = [
        "media-viewers",
        "example-group"
        ]
  }
}
cert_manager_aws_access_key_id = "ID"
cert_manager_aws_secret_access_key = "Secret"
argocd_credentials_homelab_private_key = "Private Key"
