---
global:
  alwaysAppendIdentifierToResourceName: true

# defaultPodOptions:
#   securityContext:
#     runAsUser: 1000
#     runAsGroup: 1000
#     fsGroup: 1000
controllers:
  main:
    type: deployment
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/actualbudget/actual
          tag: 26.9.0
          pullPolicy: IfNotPresent
        probes:
          liveness: &probe
            enabled: true
          readiness: *probe
          startup: *probe
        env:
          ACTUAL_OPENID_DISCOVERY_URL: "https://vault.{{ requiredEnv "DOMAIN" }}/v1/identity/oidc/provider/main/.well-known/openid-configuration"
          ACTUAL_OPENID_CLIENT_ID:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_id
          ACTUAL_OPENID_CLIENT_SECRET:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_secret
          ACTUAL_OPENID_SERVER_HOSTNAME: https://{{ .Release.Name }}.{{ requiredEnv "DOMAIN" }}
          ACTUAL_OPENID_ENFORCE: "true"
          ACTUAL_USER_CREATION_MODE: login
        # resources:
        #   limits:
        #     memory: 24Gi
        #   requests:
        #     memory: 512Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 5006

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Home Budgeting solution
      gethomepage.dev/group: Services
      gethomepage.dev/icon: {{ .Release.Name }}.png
      gethomepage.dev/name: Actual Budget
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data

rawResources:
    # Increase the default timeouts to avoid breaking banksync setup
  backend-traffic-policy:
    manifest:
      apiVersion: gateway.envoyproxy.io/v1alpha1
      kind: BackendTrafficPolicy
      spec:
        targetRefs:
        - group: gateway.networking.k8s.io
          kind: HTTPRoute
          name: actual-budget-main
        timeout:
          http:
            requestTimeout: 180s
            connectionIdleTimeout: 180s
