---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/dgtlmoon/changedetection.io
          tag: 0.55.8
          pullPolicy: IfNotPresent
        env:
          DISABLE_VERSION_CHECK: true
          TZ: Europe/Warsaw
          BASE_URL: change-detection.{{ requiredEnv "DOMAIN" }}
          HIDE_REFERER: true
          PLAYWRIGHT_DRIVER_URL: ws://localhost:3000
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          limits:
            memory: 2Gi
      sockpuppet:
        image:
          repository: dgtlmoon/sockpuppetbrowser
          tag: latest
          pullPolicy: IfNotPresent
        env:
          SCREEN_WIDTH: 1920
          SCREEN_HEIGHT: 1024
          SCREEN_DEPTH: 16
          MAX_CONCURRENT_CHROME_PROCESSES: 5
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          limits:
            memory: 16Gi
#        cap_add:
#            - SYS_ADMIN

service:
  main:
    controller: main
    ports:
      http:
        port: 5000

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Monitor websites for changes
      gethomepage.dev/group: Utils
      gethomepage.dev/icon: sh-changedetection
      gethomepage.dev/name: Change Detection
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=change-detection"

persistence:
  datastore:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      main:
        main:
          - path: /datastore
