---
global:
  alwaysAppendIdentifierToResourceName: true

# TODO: add support for HW acceleration ffmpeg
# Take a look at https://github.com/C4illin/ConvertX/issues/190 for details
#defaultPodOptions:
#  securityContext:
#    runAsUser: 701
#    runAsGroup: 701
#    fsGroup: 701

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/c4illin/convertx
          tag: v0.18.0
          pullPolicy: IfNotPresent
        env:
          # Access controlled via IP whitelist for now
          # I am not even sure if oauth2-proxy is needed here
          ALLOW_UNAUTHENTICATED: true
          AUTO_DELETE_EVERY_N_HOURS: 168
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
        resources:
          limits:
            # For these biiiiig convertions
            memory: 16Gi
          requests:
            memory: 128Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 3000

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Convert files to different formats
      gethomepage.dev/group: Tools
      gethomepage.dev/icon: sh-convertx
      gethomepage.dev/name: ConvertX
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=convertx"

persistence:
  data:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /app/data
