---
global:
  alwaysAppendIdentifierToResourceName: true

#defaultPodOptions:
#  securityContext:
#    runAsUser: 101
#    runAsGroup: 101
#    fsGroup: 101

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/gchq/cyberchef
          tag: 11.3.0
          pullPolicy: IfNotPresent
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 128Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 8080

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Another collection of various tools
      gethomepage.dev/group: Tools
      gethomepage.dev/icon: sh-cyberchef
      gethomepage.dev/name: CyberChef
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=cyberchef"
