---
global:
  alwaysAppendIdentifierToResourceName: true

# defaultPodOptions:
#   securityContext:
#     runAsUser: 1000
#     runAsGroup: 1000
#     fsGroup: 1000
controllers:
  main:
    type: deployment
    replicas: 1
    pod:
      # For the mDNS
      hostNetwork: true
    initContainers:
      include-common-secrets:
        image:
          repository: alpine
          tag: 3.24
          pullPolicy: IfNotPresent
        command:
          - /bin/sh
          - -c
          - |
            line='<<: !include /common-secrets/secrets.yaml'
            touch /config/secrets.yaml
            grep -qF "$line" /config/secrets.yaml || printf '%s\n' "$line" >> /config/secrets.yaml
    containers:
      main:
        image:
          repository: ghcr.io/esphome/esphome
          tag: 2026.8.1
          pullPolicy: IfNotPresent
        probes:
          liveness: &probe
            enabled: true
          readiness: *probe
          startup: *probe
        # resources:
        #   limits:
        #     memory: 24Gi
        #   requests:
        #     memory: 512Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 6052

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: ESP Home Device Builder
      gethomepage.dev/group: IoT
      gethomepage.dev/icon: esphome.png
      gethomepage.dev/name: esphome
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=esphome"

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  cache:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd-double-replica
    accessMode: ReadWriteOnce
    size: 15Gi
    globalMounts:
      - path: /config/.esphome
  common-secrets:
    enabled: true
    type: secret
    name: {{ .Release.Name }}-secrets
    globalMounts:
      - path: /common-secrets
        readOnly: true

rawResources:
# TODO: setting requestBuffer alongside web sockets upgrades is a known breaking point for envoy-gateway as of 2026
# Skipping this part for now and hoping it'll get fixed/improved in the future
#  backend-traffic-policy:
#    manifest:
#      apiVersion: gateway.envoyproxy.io/v1alpha1
#      kind: BackendTrafficPolicy
#      spec:
#        requestBuffer:
#          limit: "300M"
#        targetRefs:
#        - group: gateway.networking.k8s.io
#          kind: HTTPRoute
#          name: {{ .Release.Name }}-main
  secrets-secret:
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultStaticSecret
      spec:
        type: kv-v2
        mount: kvv2
        path: services/{{ .Release.Name }}/secrets
        destination:
          name: {{ .Release.Name }}-secrets
          create: true
          transformation:
            templates:
              secrets.yaml:
                text: |
                  {{ "{{ `{{- range $k, $v := .Secrets }}` }}" }}
                  {{ "{{ `{{ $k }}: {{ $v | quote }}` }}" }}
                  {{ "{{ `{{- end }}` }}" }}
        vaultAuthRef: {{ .Release.Name }}-vault-auth
