---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  filebrowser:
    pod:
      securityContext:
        fsGroup: 568

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: UI for managing media
      gethomepage.dev/group: Media Management
      gethomepage.dev/icon: sh-filebrowser-quantum
      gethomepage.dev/name: File Browser (media)
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=filebrowser-media"

persistence:
  main:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: media-storage-main
    globalMounts:
      - path: /srv
