---
global:
  alwaysAppendIdentifierToResourceName: true

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Cloud storage
      gethomepage.dev/group: Services
      gethomepage.dev/icon: filebrowser.png
      gethomepage.dev/name: Drive
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=filebrowser-drive"

# The data filebrowser serves; everything else comes from the `filebrowser`
# block in ../lib/values/filebrowser.yaml.gotmpl
persistence:
  main:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd
    accessMode: ReadWriteOnce
    size: 200Gi
    advancedMounts:
      filebrowser:
        main:
          - path: /srv
