---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  filebrowser:
    pod:
      securityContext:
        fsGroup: 568

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: UI for viewing media files (e.g. for downloads)
      gethomepage.dev/group: Media
      gethomepage.dev/icon: sh-filebrowser-quantum
      gethomepage.dev/name: File Browser Read-Only (media)
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=filebrowser-media-readonly"

persistence:
  main:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: media-storage-main
    globalMounts:
      - path: /srv/Movies
        subPath: Movies
        readOnly: true
      - path: /srv/Shows
        subPath: Shows
        readOnly: true
