---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: statefulset
    replicas: 1
    pod:
      annotations:
        k8s.v1.cni.cncf.io/networks: {{ .Release.Name }}-lan-net
    containers:
      main:
        securityContext:
          capabilities:
            add:
              # For bluetooth
              - NET_ADMIN
              - NET_RAW
        image:
          repository: ghcr.io/home-assistant/home-assistant
          tag: 2026.7.4
          pullPolicy: IfNotPresent
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 15
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 1Gi

service:
  main:
    controller: main
    ports:
      http:
        port: 8123

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Home Assistant
      gethomepage.dev/group: IoT
      gethomepage.dev/icon: home-assistant.png
      gethomepage.dev/name: Home Automation
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=home-assistant"

persistence:
  config-storage:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    labels:
      recurring-job-group.longhorn.io/daily-snapshot: enabled
      recurring-job.longhorn.io/source: enabled
    globalMounts:
      - path: /config

  config:
    enabled: true
    type: configMap
    name: home-assistant-config
    advancedMounts:
      main:
        main:
          - path: /config/configuration.yaml
            subPath: configuration.yaml

  dbus:
    enabled: true
    hostPath: /run/dbus
    type: hostPath
    globalMounts:
      - path: /run/dbus
        readOnly: true

configMaps:
  config:
    enabled: true
    data:
      configuration.yaml: |
        # Loads default set of integrations. Do not remove.
        default_config:

        # Load frontend themes from the themes folder
        #frontend:
        #  themes: !include_dir_merge_named themes

        #automation: !include automations.yaml
        #script: !include scripts.yaml
        #scene: !include scenes.yaml

        prometheus:
          namespace: hass

        http:
          use_x_forwarded_for: true
          # TODO: this looks pretty much like a hardcode
          # does our ansible setup make any guarantees about the CIDR for pods?
          #trusted_proxies: "10.42.0.0/16"
          # TODO: this is a very much hardcoded node IP
          trusted_proxies:
            - 192.168.4.0/24
            - 10.42.0.0/16
        homekit:
          port: 31333
          name: HASS Bridge

        mqtt:
          sensor:
            - name: "Homelab Plug Power"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.apower {{"{{"}}"{{"}}"}}"{{"}}"}}"
              unit_of_measurement: "W"
              device_class: power
              state_class: measurement

            - name: "Homelab Plug Current"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.current {{"{{"}}"{{"}}"}}"{{"}}"}}"
              unit_of_measurement: "A"
              device_class: current
              state_class: measurement

            - name: "Homelab Plug Voltage"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.voltage {{"{{"}}"{{"}}"}}"{{"}}"}}"
              unit_of_measurement: "V"
              device_class: voltage
              state_class: measurement

            - name: "Homelab Plug Energy"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.aenergy.total {{"{{"}}"{{"}}"}}"{{"}}"}}"
              unit_of_measurement: "Wh"
              device_class: energy
              state_class: total_increasing

            - name: "Homelab Plug Temperature"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.temperature.tC {{"{{"}}"{{"}}"}}"{{"}}"}}"
              unit_of_measurement: "°C"
              device_class: temperature
              state_class: measurement

            - name: "Homelab Plug Output State"
              state_topic: "homelab-plug/status/switch:0"
              value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.output {{"{{"}}"{{"}}"}}"{{"}}"}}"
        sensor:
          - platform: rest
            name: dezeroku-desktop PSU Power
            # TODO: can we get rid of this chip hardcode?
            resource: >-
              http://vmsingle-vm-victoria-metrics-k8s-stack.victoria-metrics-stack:8429/api/v1/query?query=node_hwmon_power_watt%7Bchip%3D%225_6%3A1_0_0003%3A0db0%3A56d4_0003%22%2Csensor%3D%22power1%22%2Cinstance%3D%22dezeroku-desktop.lan%3A9100%22%7D
            method: GET
            value_template: "{{"{{"}}"{{"{{"}}"{{"}}"}} value_json.data.result[0].value[1] | float | round(1) {{"{{"}}"{{"}}"}}"{{"}}"}}"
            unit_of_measurement: "W"
            device_class: power
            state_class: measurement
            scan_interval: 30
          - platform: integration
            source: sensor.dezeroku_desktop_psu_power
            name: dezeroku-desktop PSU Energy
            unit_prefix: k
            unit_time: h
            method: trapezoidal
        # logger:
        #   default: warning
        #   logs:
        #     homeassistant.components.homekit: debug
        #     pyhap: debug

serviceMonitor:
  main:
    enabled: true
    serviceName: home-assistant
    endpoints:
      - interval: 1m
        params:
          format:
            - prometheus
        path: /api/prometheus
        port: http
        scheme: http
        bearerTokenSecret:
          key: token
          name: home-assistant-hass-prometheus-secret
          optional: false
        tlsConfig:
          insecureSkipVerify: true

rawResources:
  hass-prometheus-secret:
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultStaticSecret
      spec:
        type: kv-v2
        mount: kvv2
        path: services/{{ .Release.Name }}/prometheus
        destination:
          name: {{ .Release.Name }}-hass-prometheus-secret
          create: true
        vaultAuthRef: {{ .Release.Name }}-vault-auth
  lan-net:
    manifest:

      apiVersion: "k8s.cni.cncf.io/v1"
      kind: NetworkAttachmentDefinition
      spec:
        config: '{
          "cniVersion": "0.3.1",
          "type": "macvlan",
          "master": "enp2s0.99",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "addresses": [
              {
                "address": "192.168.1.89/24",
                "gateway": "192.168.1.1"
              }
            ]
          }
        }'
