---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/sysadminsmedia/homebox
          tag: 0.26.2-rootless
          pullPolicy: IfNotPresent
        env:
          TZ: Europe/Warsaw

          HBOX_OPTIONS_TRUST_PROXY: true
          HBOX_OPTIONS_HOSTNAME: {{ .Release.Name }}.{{ requiredEnv "DOMAIN" }}
          HBOX_AUTH_API_KEY_PEPPER:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-api-key
                key: pepper

          # Using mailrise under the hood, not a real SMTP server
          HBOX_MAILER_HOST: mailrise-main.mailrise
          HBOX_MAILER_PORT: 8025
          HBOX_MAILER_FROM: "Homebox@dezeroku <homebox@home.dezeroku.com>"

          HBOX_DATABASE_DRIVER: postgres
          HBOX_DATABASE_HOST:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: host
          HBOX_DATABASE_PORT:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: port
          HBOX_DATABASE_USERNAME:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: user
          HBOX_DATABASE_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: password
          HBOX_DATABASE_DATABASE:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: dbname

          HBOX_OIDC_ENABLED: true
          HBOX_OIDC_AUTO_REDIRECT: true
          HBOX_OPTIONS_ALLOW_LOCAL_LOGIN: false
          HBOX_OIDC_ISSUER_URL: https://vault.{{ requiredEnv "DOMAIN" }}/v1/identity/oidc/provider/main
          HBOX_OIDC_CLIENT_ID:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_id
          HBOX_OIDC_CLIENT_SECRET:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_secret
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true

    initContainers:
      wait-for-vault:
        image:
          repository: busybox
          tag: 1.31
        args:
          # Does this Vault service name always point to the primary?
          - /bin/sh
          - -c
          - echo "Wait for Vault to be unsealed"; while !  wget -q -O /dev/null "http://vault.vault:8200/v1/sys/health"; do sleep 1; echo "-"; done; echo "Ready";
        resources: {}

service:
  main:
    controller: main
    ports:
      http:
        port: 7745

persistence:
  config-storage:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    # labels:
    #   recurring-job-group.longhorn.io/daily-snapshot: enabled
    #   recurring-job.longhorn.io/source: enabled
    globalMounts:
      - path: /data

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Home Inventory
      gethomepage.dev/group: Services
      gethomepage.dev/icon: sh-homebox
      gethomepage.dev/name: HomeBox
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"
