---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/sysadminsmedia/homebox
          tag: 0.26.2-rootless
          pullPolicy: IfNotPresent
        env:
          TZ: Europe/Warsaw

          HBOX_OPTIONS_TRUST_PROXY: true
          HBOX_OPTIONS_HOSTNAME: {{ .Release.Name }}.{{ requiredEnv "DOMAIN" }}
          HBOX_AUTH_API_KEY_PEPPER:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-api-key
                key: pepper

          # Using mailrise under the hood, not a real SMTP server
          HBOX_MAILER_HOST: mailrise-main.mailrise
          HBOX_MAILER_PORT: 8025
          HBOX_MAILER_FROM: "Homebox@dezeroku <homebox@home.dezeroku.com>"

          HBOX_DATABASE_DRIVER: postgres
          HBOX_DATABASE_HOST:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: host
          HBOX_DATABASE_PORT:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: port
          HBOX_DATABASE_USERNAME:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: user
          HBOX_DATABASE_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: password
          HBOX_DATABASE_DATABASE:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-db-app
                key: dbname

          HBOX_OIDC_ENABLED: true
          HBOX_OIDC_AUTO_REDIRECT: true
          HBOX_OPTIONS_ALLOW_LOCAL_LOGIN: false
          HBOX_OIDC_ISSUER_URL: https://vault.{{ requiredEnv "DOMAIN" }}/v1/identity/oidc/provider/main
          HBOX_OIDC_CLIENT_ID:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_id
          HBOX_OIDC_CLIENT_SECRET:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-oidc-secret
                key: client_secret
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true

service:
  main:
    controller: main
    ports:
      http:
        port: 7745

persistence:
  config-storage:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    # labels:
    #   recurring-job-group.longhorn.io/daily-snapshot: enabled
    #   recurring-job.longhorn.io/source: enabled
    globalMounts:
      - path: /data

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Home Inventory
      gethomepage.dev/group: Services
      gethomepage.dev/icon: sh-homebox
      gethomepage.dev/name: HomeBox
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"

rawResources:
  db:
    manifest:
      apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      spec:
        instances: 1
        imageName: ghcr.io/cloudnative-pg/postgresql:17
        storage:
          size: 2Gi
        backup:
          barmanObjectStore:
            destinationPath: s3://{{ .Release.Name }}/
            endpointURL: https://api.k8s-backups.minio.{{ requiredEnv "DOMAIN" }}
            s3Credentials:
              accessKeyId:
                name: {{ .Release.Name }}-cnpg-backup-s3-secret
                key: ACCESS_KEY_ID
              secretAccessKey:
                name: {{ .Release.Name }}-cnpg-backup-s3-secret
                key: ACCESS_SECRET_KEY
            wal:
              compression: gzip
          retentionPolicy: "14d"
  db-backup:
    manifest:
      apiVersion: postgresql.cnpg.io/v1
      kind: ScheduledBackup
      spec:
        schedule: "0 0 1 * * 0"
        backupOwnerReference: self
        cluster:
          name: {{ .Release.Name }}-db
  cnpg-backup-s3-secret:
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultStaticSecret
      spec:
        type: kv-v2
        mount: kvv2
        path: core/minio/k8s-backups/backuper-credentials
        destination:
          name: {{ .Release.Name }}-cnpg-backup-s3-secret
          create: true
          transformation:
            excludes:
              - .*
            templates:
              ACCESS_KEY_ID:
                text: |-
                  {{ "{{`{{" }}.Secrets.username{{ "}}`}}" }}
              ACCESS_SECRET_KEY:
                text: |-
                  {{ "{{`{{" }}.Secrets.password{{ "}}`}}" }}
        vaultAuthRef: {{ .Release.Name }}-vault-auth
