controllers:
  main:
    strategy: Recreate
    containers:
      main:
        image:
          # tag: v1.133.1
          # tag: v1.137.0
          tag: v3.2.0
        env:
          A_DB_URL:
            valueFrom:
              secretKeyRef:
                #name: immich-app
                name: immich-enhancements-db-pguser-immich
                key: uri
          # Funnily enough it doesn't work without the SSL mangling
          DB_URL: $(A_DB_URL)?sslmode=require&sslmode=no-verify

immich:
  metrics:
    enabled: true

  persistence:
    library:
      existingClaim: immich-enhancements-library

# TODO: maybe let's use dragonfly instead?
valkey:
  enabled: true

machine-learning:
  persistence:
    cache:
      type: persistentVolumeClaim
      storageClass: longhorn-ssd-double-replica
      size: 10Gi
      accessMode: ReadWriteOnce
      #globalMounts:
      #  - path: /data
