---
global:
  alwaysAppendIdentifierToResourceName: true

defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    runAsNonRoot: true
    # ID of the "video" and "render" groups in Debian
    # For proper hardware acceleration support
    # TODO: shouldn't this be handled by the GPU plugin somehow?
    supplementalGroups:
      - 44
      - 105
#    allowPrivilegeEscalation: false
#    privileged: false
#    capabilities:
#      add: []
#      drop:
#        - ALL
  nodeSelector:
    kubernetes.io/arch: amd64
  terminationGracePeriodSeconds: 60

controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.11
          pullPolicy: IfNotPresent
        env:
          JELLYFIN_PublishedServerUrl: https://jellyfin.{{ requiredEnv "DOMAIN" }}
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          limits:
            memory: 8Gi
            gpu.intel.com/i915: "1"

service:
  main:
    controller: main
    ports:
      http:
        port: 8096

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Media Server
      gethomepage.dev/group: Media
      gethomepage.dev/icon: jellyfin.png
      gethomepage.dev/name: Jellyfin
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=jellyfin"

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    # Most of it is the data/ directory, 3.5G as of July 2026
    size: 10Gi
    globalMounts:
      - path: /config

  media-storage-main:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: media-storage-main
    globalMounts:
      - path: /media-storage-main

  cache:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /cache

  transcodes:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /cache/transcodes
