---
global:
  alwaysAppendIdentifierToResourceName: true
  createDefaultServiceAccount: false

persistence:
  main:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd
    accessMode: ReadWriteMany
    size: 1400Gi
