---
global:
  alwaysAppendIdentifierToResourceName: true

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: UI for downloading media from Youtube
      gethomepage.dev/group: Media
      gethomepage.dev/icon: sh-metube
      gethomepage.dev/name: MeTube
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=metube,app.kubernetes.io/controller=metube"
