---
global:
  alwaysAppendIdentifierToResourceName: true

defaultPodOptions:
  securityContext:
    # Stay consistent with jellyfin deployment
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568

controllers:
  main:
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          repository: deluan/navidrome
          tag: 0.63.2
          pullPolicy: IfNotPresent
        env:
          ND_ENABLEINSIGHTSCOLLECTOR: false
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
        resources:
          limits:
            memory: 1Gi
          requests:
            memory: 128Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 4533

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Music Server
      gethomepage.dev/group: Media
      gethomepage.dev/icon: navidrome.png
      gethomepage.dev/name: Navidrome
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=navidrome"

  metube:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: UI for downloading media from Youtube
      gethomepage.dev/group: Media Management
      gethomepage.dev/icon: metube.png
      gethomepage.dev/name: MeTube ({{ .Release.Name }})
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"

persistence:
  music:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: media-storage-main
    advancedMounts:
      main:
        main:
          - path: /music
            subPath: music
            readOnly: true
      metube:
        main:
          - path: /downloads
            subPath: music
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      main:
        main:
          - path: /data
