---
global:
  alwaysAppendIdentifierToResourceName: true

defaultPodOptions:
  securityContext:
  # TODO: the PUID env approach doesn't really work with a proper securityContext
#    runAsUser: 1000
#    runAsGroup: 1000
    fsGroup: 1000
  nodeSelector:
    # Lock the arch to amd64 to avoid problems with venv
    kubernetes.io/arch: amd64

controllers:
  filebrowser:
    pod:
      securityContext:
        # TODO: this gives us access to metube downloaded files
        # manual uploads still end up with 1000:1000 ownership
        # Check if redbot plays nicely with it
        fsGroup: 568
  main:
    strategy: Recreate
    containers:
      main:
        image:
          repository: phasecorex/red-discordbot
          tag: audio
          pullPolicy: IfNotPresent
        env:
          TZ: Europe/Warsaw
          PREFIX: /
          PREFIX2: .
          PUID: 1000
          REDBOT_VERSION: "~=3.5.13"
          #OWNER:
          #  valueFrom:
          #    secretKeyRef:
          #      name: redbot
          #      key: owner
          TOKEN:
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-secrets
                key: token
        resources:
          limits:
            memory: 4Gi
          requests:
            memory: 256Mi

route:
  filebrowser:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Storage for lavalink music, {{ .Release.Name }}
      gethomepage.dev/group: RedBot
      gethomepage.dev/icon: sh-filebrowser-quantum
      gethomepage.dev/name: File Browser ({{ .Release.Name }})
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"

  metube:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: UI for downloading media from Youtube
      gethomepage.dev/group: RedBot
      gethomepage.dev/icon: metube.png
      gethomepage.dev/name: MeTube ({{ .Release.Name }})
      gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"

persistence:
  storage:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      main:
        main:
          - path: /data

  localtracks:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn-ssd-double-replica
    accessMode: ReadWriteMany
    size: 10Gi
    advancedMounts:
      main:
        main:
          - path: /localtracks
      filebrowser:
        main:
          - path: /srv

rawResources:
  vault-auth:
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultAuth
      spec:
        method: kubernetes
        mount: k8s/homeserver
        kubernetes:
          role: {{ .Release.Name }}
          serviceAccount: {{ .Release.Name }}
  secrets:
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultStaticSecret
      spec:
        type: kv-v2
        mount: kvv2
        path: services/redbot/{{ .Release.Name }}/secrets
        destination:
          name: {{ .Release.Name }}-secrets
          create: true
        vaultAuthRef: {{ .Release.Name }}-vault-auth
