---
global:
  alwaysAppendIdentifierToResourceName: true

# TODO: attach emptyDirs in required places and run as non-root
# TODO: download files for OCR setup, for at least Polish and Italian
# https://github.com/Stirling-Tools/Stirling-PDF/blob/main/HowToUseOCR.md
#defaultPodOptions:
#  securityContext:
#    runAsUser: 19972
#    runAsGroup: 19972
#    fsGroup: 19972

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: docker.stirlingpdf.com/stirlingtools/stirling-pdf
          tag: 2.14.2
          pullPolicy: IfNotPresent
        env:
          # disable the auth completely, treat it as a oneshot service
          SECURITY_ENABLELOGIN: false
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
        resources:
          limits:
            memory: 5Gi
          requests:
            memory: 128Mi
service:
  main:
    controller: main
    ports:
      http:
        port: 8080

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: One-stop-shop for all your PDF needs
      gethomepage.dev/group: Tools
      gethomepage.dev/icon: stirling-pdf
      gethomepage.dev/name: Stirling PDF
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=stirling-pdf"
