---
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: jhaals/yopass
          tag: 14.6.0
          pullPolicy: IfNotPresent
        env:
          DATABASE: redis
          REDIS: redis://yopass-dragonfly-db:6379/0
          PUBLIC_URL: {{ .Release.Name }}.{{ requiredEnv "DOMAIN" }}
        probes:
          readiness:
            enabled: true
          liveness:
            enabled: true
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 128Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 1337

route:
  main:
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Securely share secrets
      gethomepage.dev/group: Tools
      gethomepage.dev/icon: sh-yopass
      gethomepage.dev/name: yopass
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=yopass"

rawResources:
  dragonfly-db:
    manifest:
      apiVersion: dragonflydb.io/v1alpha1
      kind: Dragonfly
      spec:
        replicas: 1
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 512Mi
        snapshot:
          cron: "*/5 * * * *"
          persistentVolumeClaimSpec:
            accessModes:
            - ReadWriteOnce
            resources:
              requests:
                storage: 2Gi
            storageClassName: longhorn
