---
# chrony: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  chrony:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [gateway]
    routes:
      main:
        kind: UDPRoute
