---
# cyberchef: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  cyberchef:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [gateway]
    routes:
      main: {}
