---
# ente: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  ente:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [gateway, vault]
    routes:
      auth:
        hostname: 'auth.ente.{{ requiredEnv "DOMAIN" }}'
        networks: [lan, guest, vpn_main, vpn_guest, vpn_family]
      api:
        hostname: 'api.ente.{{ requiredEnv "DOMAIN" }}'
        networks: [lan, guest, vpn_main, vpn_guest, vpn_family]
