---
# filebrowser-drive: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  filebrowser-drive:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [filebrowser, gateway]
    filebrowser:
      createUserDir: true
    routes:
      main:
        networks: [lan, guest, vpn_main, vpn_guest, vpn_family]
        hostname: drive.{{ requiredEnv "DOMAIN" }}
