---
# metube: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  metube:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [metube, gateway, oidc-secret]
    namespace: media
    metube:
      existingClaim: media-storage-main
      subPath: metube
    routes:
      main:
        service: metube
        networks: [lan, vpn_main, vpn_guest]
        oidc: true
