---
# navidrome: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  navidrome:
    routes:
      main:
        networks: [lan, guest, vpn_main, vpn_guest, vpn_family]
        service: main
      metube:
        networks: [lan, guest, vpn_main, vpn_guest, vpn_family]
        hostname: navidrome-metube.{{ requiredEnv "DOMAIN" }}
        oidc: true
        service: metube
