---
# pacoloco: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  pacoloco:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [gateway]
    routes:
      main:
        networks: [lan, guest, cluster, vpn_main]
