---
# redbot-premiers: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  redbot-premiers:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [filebrowser, metube, gateway, oidc-secret]
    values: [values/redbot-common.yaml.gotmpl]
    routes:
      filebrowser:
        networks: [lan, vpn_main, vpn_guest, vpn_family]
        hostname: 'redbot-premiers-filebrowser.{{ requiredEnv "DOMAIN" }}'
        service: filebrowser
      metube:
        networks: [lan, vpn_main, vpn_guest, vpn_family]
        oidc: true
        hostname: 'redbot-premiers-metube.{{ requiredEnv "DOMAIN" }}'
        service: metube
    filebrowser:
      adminGroup: redbot-admins
    metube:
      existingClaim: redbot-main-localtracks
      subPath: metube
