---
# silverbullet: see ../helmfile.yaml.gotmpl for what these keys mean.
releaseConfig:
  silverbullet:
    chart: bjw-s-labs/app-template
    version: 5.0.1
    templates: [gateway, oidc-secret]
    routes:
      main:
        hostnames:
          - silverbullet.{{ requiredEnv "DOMAIN" }}
        networks: [lan, guest, vpn_main]
        oidc: true
        service: main
      # Expose the .client/ part without auth, for the service worker part to work correctly
      # Specific rules added in the values file
      client:
        hostnames:
          - silverbullet.{{ requiredEnv "DOMAIN" }}
        networks: [lan, guest, vpn_main]
        service: main
