global:
  createDefaultServiceAccount: false

rawResources:
  vault-auth:
    forceRename: cert-manager-vault-auth
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultAuth
      spec:
        method: kubernetes
        mount: k8s/homeserver
        kubernetes:
          role: cert-manager
          serviceAccount: cert-manager
  dns-prod-credentials:
    forceRename: cert-manager-dns-prod-credentials
    manifest:
      apiVersion: secrets.hashicorp.com/v1beta1
      kind: VaultStaticSecret
      spec:
        type: kv-v2
        mount: kvv2
        path: cert-manager/letsencrypt-dns-prod-credentials-secret
        destination:
          name: cert-manager-dns-prod-credentials-secret
          create: true
        vaultAuthRef: cert-manager-vault-auth
  letsencrypt-dns-prod:
    forceRename: cert-manager-letsencrypt-dns-prod
    manifest:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      spec:
        acme:
          server: https://acme-v02.api.letsencrypt.org/directory
          email: acme@dezeroku.com
          privateKeySecretRef:
            name: letsencrypt-dns-prod
          solvers:
            - dns01:
                route53:
                  region: us-east-1
                  accessKeyIDSecretRef:
                    name: cert-manager-dns-prod-credentials-secret
                    key: AWS_ACCESS_KEY_ID
                  secretAccessKeySecretRef:
                    name: cert-manager-dns-prod-credentials-secret
                    key: AWS_SECRET_ACCESS_KEY
