---
installCRDs: true
enableCertificateOwnerRef: true

resources:
  requests:
    cpu: 10m
    memory: 128Mi
  limits:
    memory: 128Mi
    cpu: 250m

webhook:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi
      cpu: 250m

cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 128Mi
      cpu: 250m

cert-manager-cluster-issuer:
  region: us-east-1
  email: acme@dezeroku.com
