---
installCRDs: true
enableCertificateOwnerRef: true

resources:
  requests:
    cpu: 10m
    memory: 128Mi
  limits:
    memory: 128Mi

webhook:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 64Mi

cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 128Mi
