---
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus
  # The below is needed, as it's a bare-metal deployment
  hostNetwork: true
  dnsPolicy: ClusterFirst
  reportNodeInternalIp: true
  publishService:
    enabled: false
  kind: DaemonSet
  service:
    enabled: false
  allowSnippetAnnotations: true
