---
controller:
  #nodeSelector:
  #  node-role.kubernetes.io/loadbalancer: "true"
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    proxy-real-ip-cidr: "10.42.0.0/16"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus
  # replicaCount: 3
  service:
    #type: LoadBalancer
    #annotations:
    #  metallb.universe.tf/address-pool: ingress-nginx
    externalTrafficPolicy: Local
  allowSnippetAnnotations: true

tcp:
  "25565": "minecraft/minecraft-minecraft:25565"
  "1883": "mosquitto/mosquitto-main:1883"
  "8883": "mosquitto/mosquitto-main:8883"

udp:
  "123": "chrony/chrony-main:123"

app-template:
  global:
    createDefaultServiceAccount: false

  rawResources:
    reference-grant:
      manifest:
        apiVersion: gateway.networking.k8s.io/v1beta1
        kind: ReferenceGrant
        spec:
          from:
            - group: gateway.networking.k8s.io
              kind: HTTPRoute
              namespace: envoy-gateway
          to:
            - group: ""
              kind: Service
              name: ingress-nginx-controller
