---
ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: "cert-manager-letsencrypt-dns-prod"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: Distributed storage for Kubernetes
    gethomepage.dev/group: Cluster
    gethomepage.dev/icon: longhorn.png
    gethomepage.dev/name: Longhorn
    gethomepage.dev/app: longhorn
    nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.1.0/24,192.168.69.0/24"
    nginx.ingress.kubernetes.io/auth-url: "https://sso.{{ requiredEnv "DOMAIN" }}/oauth2/auth?allowed_groups=storage-admins"
    nginx.ingress.kubernetes.io/auth-signin: "https://sso.{{ requiredEnv "DOMAIN" }}/oauth2/start?rd=https://$host$escaped_request_uri"
  host: longhorn.{{ requiredEnv "DOMAIN" }}
  tls: true
  tlsSecret: longhorn-tls

longhornUI:
  replicas: 1

persistence:
  defaultDataLocality: best-effort
  defaultDiskSelector:
    enable: true
    # That's the system drive
    selector: nvme

defaultSettings:
  # Use a dedicated network for data traffic
  storageNetwork: longhorn/longhorn-storage-net

  # Enabling this one is not trival and requires preparation, let's leave it using the default for now
  # It requires more IPs in the subnet
  # endpointNetworkForRWXVolume: longhorn/longhorn-storage-net

  defaultDataLocality: best-effort
  createDefaultDiskLabeledNodes: true
  # Default is 25%, which is too much for the SSDs we run
  # Default disks (SSDs) will stay with the 30%, that's assigned via a separate setting
  # Upstream recommends at least 25% for the system drives
  storageMinimalAvailablePercentage: 10
  # Try to have roughly same number of replicas between nodes
  # replicaAutoBalance: best-effort
  # After a while, let's switch to avoiding rebuilds
  # happening too often. It's 4 nodes anyway, with most of the
  # volumes being 3 replicas, so it's not like much can be balanced.
  replicaAutoBalance: least-effort
  # Region doesn't matter, but we have to set something for Longhorn to be happy
  backupTarget: s3://longhorn@us-east-1/
  backupTargetCredentialSecret: longhorn-credentials-s3
  concurrentAutomaticEngineUpgradePerNodeLimit: 1
  # Avoid starving the nodes out of IO, especially network
  # Default is 5, we should be able to live with 2-3 in case of upgrades
  concurrentReplicaRebuildPerNodeLimit: 1
  # Wait half an hour before dropping the replica,
  # default is 10 minutes, our drains usually take longer
  replicaReplenishmentWaitInterval: 1800

  # I suppose we want it? Introduced in 1.9.0
  # There are not offline volumes in the cluster though
  # offlineReplicaRebuilding: true

app-template:
  global:
    alwaysAppendIdentifierToResourceName: true
    createDefaultServiceAccount: false
  rawResources:
    k8s-backups:
      manifest:
        # TODO: this api will have to be migrated
        apiVersion: longhorn.io/v1beta2
        kind: RecurringJob
        spec:
          cron: "0 1 * * *"
          task: "backup"
          groups:
          - k8s-backups
          retain: 2
          concurrency: 1
    storage-net:
      manifest:
        apiVersion: k8s.cni.cncf.io/v1
        kind: NetworkAttachmentDefinition
        spec:
          config: |
            {
              "cniVersion": "0.3.1",
              "name": "longhorn-storage-net",
              "type": "macvlan",
              "master": "enp3s0",
              "mode": "bridge",
              "ipam": {
                "type": "whereabouts",
                "range": "192.168.14.16/28",
                "exclude": []
              }
            }
