tenant:
  certificate:
    requestAutoCert: false
  name: k8s-backups
  configuration:
    name: minio-k8s-backups-root-credentials
  configSecret:
    name: minio-k8s-backups-root-credentials
    accessKey: ""
    secretKey: ""
    existingSecret: true
  pools:
    - servers: 1
      name: ss-0
      volumesPerServer: 1
      storageLabels:
        recurring-job-group.longhorn.io/k8s-backups: enabled
        recurring-job.longhorn.io/source: enabled
      size: 150Gi
      storageClassName: longhorn
  metrics:
    enabled: true
  #prometheusOperator: true
  features:
    bucketDNS: true
  buckets:
    # TODO: handle this list dynamically, maybe configure minio via terraform?
    # we'd probably want to have separate credentials for each service in the end
    - name: mealie
    - name: invidious
    - name: paperless
    - name: ryot
    - name: hedgedoc
    - name: ente
    - name: immich
    - name: wikijs
  users:
    - name: minio-k8s-backups-backuper-user-secret

app-template:
  route:
    api:
      hostnames:
        - api.k8s-backups.minio.{{ requiredEnv "DOMAIN" }}
        - "*.api.k8s-backups.minio.{{ requiredEnv "DOMAIN" }}"
      rules:
        - backendRefs:
          - name: minio
            port: 80

    console:
      hostnames:
        - k8s-backups.minio.{{ requiredEnv "DOMAIN" }}
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: S3-compatible storage for K8S backups
        gethomepage.dev/group: Storage
        gethomepage.dev/icon: minio.png
        gethomepage.dev/name: Minio (K8S Backups)
        gethomepage.dev/pod-selector: "v1.min.io/tenant=k8s-backups"
      rules:
        - backendRefs:
          - name: k8s-backups-console
            port: 9090

  rawResources:
    root-credentials:
      manifest:
        apiVersion: secrets.hashicorp.com/v1beta1
        kind: VaultStaticSecret
        spec:
          type: kv-v2
          mount: kvv2
          path: core/minio/k8s-backups/root-credentials
          destination:
            name: minio-k8s-backups-root-credentials
            create: true
            transformation:
              excludes:
                - .*
              templates:
                config.env:
                  text: |
                    export MINIO_ROOT_USER={{ "{{`{{" }}.Secrets.rootUser{{ "}}`}}" }}
                    export MINIO_ROOT_PASSWORD={{ "{{`{{" }}.Secrets.rootPassword{{ "}}`}}" }}
          vaultAuthRef: minio-k8s-backups-vault-auth
    backuper-user-secret:
      manifest:
        apiVersion: secrets.hashicorp.com/v1beta1
        kind: VaultStaticSecret
        spec:
          type: kv-v2
          mount: kvv2
          path: core/minio/k8s-backups/backuper-credentials
          destination:
            name: minio-k8s-backups-backuper-user-secret
            create: true
            transformation:
              excludes:
                - .*
              templates:
                CONSOLE_ACCESS_KEY:
                  text: |
                    {{ "{{`{{" }}.Secrets.username{{ "}}`}}" }}
                CONSOLE_SECRET_KEY:
                  text: |
                    {{ "{{`{{" }}.Secrets.password{{ "}}`}}" }}
          vaultAuthRef: minio-k8s-backups-vault-auth
