controller:
  manager:
    resources:
      limits:
        # Default of 128Mi seems to be too small sometimes
        memory: 512Mi

defaultVaultConnection:
  enabled: true
  address: "http://vault.vault.svc.cluster.local:8200"
telemetry:
  serviceMonitor:
    enabled: true
