operator:
  # Allow us to still use the ServiceMonitors CRDs
  disable_prometheus_converter: false
  # Make ArgoCD stop complaining about the converted resources
  prometheus_converter_add_argocd_ignore_annotations: true
