victoria_metrics_alertmanager_pagerduty_token = "example_token"
homeserver_backup_victoria_metrics_alertmanager_pagerduty_token = "example_token"
victoria_metrics_alertmanager_deadmanssnitch_url = "https://nosnch.in/some_id"
# This is the same value as set in Vault ingress
domain = "your-domain-exposed-via-ingress"
# generate e.g. with `dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_' ; echo`
oauth2_proxy_cookie_secret = "someSecret"
users = {
  dezeroku = {
    email = "dezeroku@gmail.com"
    password = "example-password"
    groups = [
        "media-viewers",
        "example-group"
        ]
  }
}
argocd_credentials_homelab_private_key = "Private Key"
minio_root_username = "admin"
minio_root_password = "password"
# dezeroku is just our internal alias, the real username may be different
minio_dezeroku_username = "dezeroku"
minio_dezeroku_password = "password"
minio_private_root_username = "admin"
minio_private_root_password = "password"
# dezeroku is just our internal alias, the real username may be different
minio_private_dezeroku_username = "dezeroku"
minio_private_dezeroku_password = "password"
minio_k8s_backups_root_username = "admin"
minio_k8s_backups_root_password = "password"
minio_k8s_backups_backuper_username = "backuper"
minio_k8s_backups_backuper_password = "password"
minio_longhorn_root_username = "admin"
minio_longhorn_root_password = "password"
minio_longhorn_longhorn_username = "longhorn"
minio_longhorn_longhorn_password = "password"
minio_longhorn_endpoint = "https://api.longhorn.minio.your.domain.com"
tgtg_username = "example_tgtg_username"
tgtg_ses_from = "homeserver-tgtg@example.com"
tgtg_ses_to = "receiver@example.com"
# This one is a "long-lived token" and needs to be generated from within the home assistant deployment
# It's safe to deploy this with dummy value first and modify later
home_assistant_prometheus_token = "example_token"
# Can be generated with pwgen 20 1
invidious_hmac_key = "example_key"
#redbot_owner = ""
redbot_token = ""
homepage_jellyfin_apikey = ""
# Can be generated with pwgen 20 1
paperless_secret_key = "example_key"
paperless_admin_username = "admin"
paperless_admin_password = "example_password"
paperless_admin_email = "admin@example.com"
paperless_redis_password = "example_password"
minecraft_rcon_password = "example_password"
paperless_ses_incoming_recipients = ["some-email@your-domain.com"]
paperless_ses_senders_regex = ".*@your-domain.com"
backup_cluster_kubernetes_host = "https://homeserver-backup:6443"
# Both these values can be found in secret 'vault-auth-secret' in 'default' namespace
# after the 'vault-auth' chart is deployed
backup_cluster_kubernetes_ca_cert = "ca cert"
backup_cluster_token_reviewer_jwt = "token_reviewer_jwt"
# This auth ID needs to be obtained via the UI
wikijs_oidc_auth_id = "example_auth"
kopia_control_user_username = "control"
kopia_control_user_password = "example_password"
kopia_server_user_username = "server"
kopia_server_user_password = "example_password"
kopia_repository_password = "example_password"
kopia_target_users = [
  {
    username = "user1",
    password = "password1"
  },
  {
    username = "user2",
    password = "password2"
  }
]
kopia_pushover_app_token = "app_token"
kopia_pushover_user_key = "user_key"
