---
name: Lint files

on:
  push:

  workflow_dispatch:

  pull_request:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      python_version: "3.11"
      tflint_version: "v0.47.0"
      terragrunt_version: "0.50.4"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python_version }}
      - uses: autero1/action-terragrunt@v1.3.2
        with:
          terragrunt_version: ${{ env.terragrunt_version }}
      - uses: terraform-linters/setup-tflint@v3
        with:
          tflint_version: ${{ env.tflint_version }}
      - uses: pre-commit/action@v3.0.0
